<div class="sv-tl-entry block--{{type}}">
  <div class="sv-tl-entry-marker">
    <span class="sv-tl-entry-dot"></span>
  </div>
  <div class="sv-tl-entry-content">
    <time class="sv-tl-entry-date" datetime="{{created_at}}">{{created_at}}</time>

    {{#if (eq type "image")}}
      <figure class="sv-tl-entry-image">
        <img src="{{image.display}}" alt="{{title}}" loading="lazy">
      </figure>
      {{#if title}}
        <h2 class="sv-tl-entry-title">{{title}}</h2>
      {{/if}}
      {{#if description}}
        <p class="sv-tl-entry-description">{{description}}</p>
      {{/if}}
    {{/if}}

    {{#if (eq type "text")}}
      {{#if title}}
        <h2 class="sv-tl-entry-title">{{title}}</h2>
      {{/if}}
      <div class="sv-tl-entry-body">{{{content}}}</div>
      {{#if description}}
        <p class="sv-tl-entry-description">{{description}}</p>
      {{/if}}
    {{/if}}

    {{#if (eq type "link")}}
      <a href="{{link.url}}" class="sv-tl-entry-link-card" target="_blank" rel="noopener">
        {{#if link.thumbnail}}
          <figure class="sv-tl-entry-image">
            <img src="{{link.thumbnail}}" alt="" loading="lazy">
          </figure>
        {{/if}}
        <h2 class="sv-tl-entry-title">{{link.title}}</h2>
        {{#if link.description}}
          <p class="sv-tl-entry-description">{{link.description}}</p>
        {{/if}}
      </a>
    {{/if}}

    {{#if (eq type "media")}}
      {{#if title}}
        <h2 class="sv-tl-entry-title">{{title}}</h2>
      {{/if}}
      <div class="sv-tl-entry-embed">{{{embed.html}}}</div>
      {{#if description}}
        <p class="sv-tl-entry-description">{{description}}</p>
      {{/if}}
    {{/if}}

    {{#if (eq type "attachment")}}
      {{#if image.display}}
        <img class="sv-tl-entry-img" src="{{image.display}}" alt="{{attachment.file_name}}" loading="lazy">
      {{/if}}
      <a href="{{attachment.url}}" class="sv-tl-entry-attachment" download>
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M8 1v10M4 8l4 4 4-4M2 14h12" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <span>{{attachment.file_name}}</span>
      </a>
      {{#if description}}
        <p class="sv-tl-entry-description">{{description}}</p>
      {{/if}}
    {{/if}}

  </div>
</div>
