<a class="sv-fr-card block--{{type}}" href="https://www.are.na/block/{{id}}" target="_blank" rel="noopener">

  <div class="sv-fr-card-votes">
    <span class="sv-fr-card-votes-count">+{{comment_count}}</span>
    <span class="sv-fr-card-votes-label">votes</span>
  </div>

  <div class="sv-fr-card-body">
    {{#if (eq type "image")}}
      <div class="sv-fr-card-content">
        <div class="sv-fr-card-text">
          {{#if title}}
            <h2 class="sv-fr-card-title">{{title}}</h2>
          {{/if}}
          {{#if description}}
            <p class="sv-fr-card-description">{{description}}</p>
          {{/if}}
        </div>
        <figure class="sv-fr-card-thumb">
          <img src="{{image.display}}" alt="{{title}}" loading="lazy">
        </figure>
      </div>
    {{/if}}

    {{#if (eq type "text")}}
      {{#if title}}
        <h2 class="sv-fr-card-title">{{title}}</h2>
      {{/if}}
      {{#if content}}
        <div class="sv-fr-card-description">{{{content}}}</div>
      {{else}}
        {{#if description}}
          <p class="sv-fr-card-description">{{description}}</p>
        {{/if}}
      {{/if}}
    {{/if}}

    {{#if (eq type "link")}}
      {{#if title}}
        <h2 class="sv-fr-card-title">{{title}}</h2>
      {{else}}
        {{#if link.title}}
          <h2 class="sv-fr-card-title">{{link.title}}</h2>
        {{/if}}
      {{/if}}
      {{#if description}}
        <p class="sv-fr-card-description">{{description}}</p>
      {{else}}
        {{#if link.description}}
          <p class="sv-fr-card-description">{{link.description}}</p>
        {{/if}}
      {{/if}}
    {{/if}}

    {{#if (eq type "media")}}
      {{#if title}}
        <h2 class="sv-fr-card-title">{{title}}</h2>
      {{/if}}
      {{#if description}}
        <p class="sv-fr-card-description">{{description}}</p>
      {{/if}}
    {{/if}}

    {{#if (eq type "attachment")}}
      {{#if image.display}}
        <img class="sv-fr-card-img" src="{{image.display}}" alt="{{attachment.alt_text}}" loading="lazy">
      {{else}}
        {{#if (eq attachment.kind "video")}}
          <video class="sv-fr-card-img" src="{{attachment.url}}" muted playsinline controls preload="metadata"></video>
        {{/if}}
        {{#if (eq attachment.kind "pdf")}}
          <div class="sv-fr-card-img">PDF</div>
        {{/if}}
        {{#if (eq attachment.kind "model")}}
          <div class="sv-fr-card-img">3D</div>
        {{/if}}
      {{/if}}
      {{#if title}}
        <h2 class="sv-fr-card-title">{{title}}</h2>
      {{else}}
        {{#if attachment.display_name}}
          <h2 class="sv-fr-card-title">{{attachment.display_name}}</h2>
        {{/if}}
      {{/if}}
      {{#if description}}
        <p class="sv-fr-card-description">{{description}}</p>
      {{/if}}
    {{/if}}
  </div>

</a>
