<div class="sv-homepage-block block--{{type}}">

  {{#if (eq type "image")}}
    <figure class="sv-homepage-block-image">
      <img src="{{image.display}}" data-original="{{image.original}}" alt="{{title}}" loading="lazy">
    </figure>
    {{#if title}}
      <p class="sv-homepage-block-caption">{{title}}</p>
    {{/if}}
  {{/if}}

  {{#if (eq type "text")}}
    {{#if title}}
      <h2 class="sv-homepage-block-title">{{title}}</h2>
    {{/if}}
    <div class="sv-homepage-block-body">{{{content}}}</div>
  {{/if}}

  {{#if (eq type "media")}}
    {{#if title}}
      <h2 class="sv-homepage-block-title">{{title}}</h2>
    {{/if}}
    <div class="sv-homepage-block-embed">{{{embed.html}}}</div>
  {{/if}}

  {{#if (eq type "attachment")}}
    {{#if image.display}}
      <img class="sv-homepage-block-img" src="{{image.display}}" alt="{{attachment.alt_text}}" loading="lazy">
    {{/if}}
    <a href="{{attachment.url}}" class="sv-homepage-block-attachment" download>
      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M8 1v10M4 8l4 4 4-4M2 14h12" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
      <span>{{attachment.display_name}}</span>
    </a>
  {{/if}}

</div>
