<article class="sv-document-article block--{{type}}" id="block-{{@index}}">

  {{#if (eq type "text")}}
    {{#if title}}
      <h2 class="sv-document-article-title">{{title}}</h2>
    {{/if}}
    <div class="sv-document-article-body">{{{content}}}</div>
  {{/if}}

  {{#if (eq type "image")}}
    {{#if title}}
      <h2 class="sv-document-article-title">{{title}}</h2>
    {{/if}}
    <figure class="sv-document-article-figure">
      <a href="{{image.original}}" target="_blank" rel="noopener">
        <img src="{{image.display}}" alt="{{title}}" loading="lazy">
      </a>
      {{#if description}}
        <figcaption class="sv-document-article-caption">{{description}}</figcaption>
      {{/if}}
    </figure>
  {{/if}}

  {{#if (eq type "link")}}
    {{#if title}}
      <h2 class="sv-document-article-title">{{title}}</h2>
    {{/if}}
    <a href="{{link.url}}" class="sv-document-article-link-card" target="_blank" rel="noopener">
      {{#if link.thumbnail}}
        <img src="{{link.thumbnail}}" alt="" class="sv-document-article-link-thumb" loading="lazy">
      {{/if}}
      <div class="sv-document-article-link-body">
        <span class="sv-document-article-link-title">{{link.title}}</span>
        {{#if link.description}}
          <span class="sv-document-article-link-desc">{{link.description}}</span>
        {{/if}}
        <span class="sv-document-article-link-url">{{link.url}}</span>
      </div>
    </a>
  {{/if}}

  {{#if (eq type "media")}}
    {{#if title}}
      <h2 class="sv-document-article-title">{{title}}</h2>
    {{/if}}
    <div class="sv-document-article-embed">{{{embed.html}}}</div>
  {{/if}}

  {{#if (eq type "attachment")}}
    {{#if title}}
      <h2 class="sv-document-article-title">{{title}}</h2>
    {{/if}}
    {{#if image.display}}
      <figure class="sv-document-article-image">
        <img src="{{image.display}}" alt="{{attachment.alt_text}}" loading="lazy">
      </figure>
    {{/if}}
    <a href="{{attachment.url}}" class="sv-document-article-attachment" download>
      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M8 1v10M4 8l4 4 4-4M2 14h12" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
      <span>{{attachment.display_name}}</span>
    </a>
  {{/if}}

</article>
